
.intro {
background-color: brown;


}

.title-image {
    height: 20%;
    width: 30%;
    padding: 3% 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

nav {
    text-align: center;
    padding-top: 3%;
    background-color: #BEADFA;
}

